.pdp-find-in-store-container {
    position: absolute;
    top: 45px;
    left: 50%;
    box-sizing: border-box;
    min-height: 332px;
    width: 802px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background-color: #FFFFFF;
    z-index: 12;

    &::-webkit-scrollbar {
        @media @mobileScreens {
            display: none;
        }
    }

    @media @mobileScreens {
        width: 100%;
        height: 100%;
        position: fixed;
        background: white;
        top: 0px;
        z-index: 8;
        left: 0;
        overflow: hidden scroll;
    }

    .text-label-find-store {
        color: #000000;
        font-family: "MSLondon";
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 32px;
        padding: 12px 314px 21px 0;
        text-transform: uppercase;

        @media @mobileScreens {
            color: #333333;
            font-size: 20px;
            font-weight: bold;
            line-height: 26px;
            padding: 21px 18px 20px 0;
            text-transform: none;
        }
    }

    .mz-close-icon {
        height: 21px;
        width: 20px;
        position: absolute;
        top: 18px;
        left: 34px;
        cursor: pointer;
        
        @media @mobileScreens {
            top: 21px;
            left: 29px; // ui fixed issue
        }
        @media only screen and (min-width: 400px) and (max-width: 415px) {
            left:17px;
        }
    }

    .mz-seprator {
        width: 802px;
        border-bottom: 1px solid #ccc;
        margin: 0 auto;
        box-sizing: border-box;

        @media @mobileScreens {
            width: 355px;
            margin-right: 10px;
        }
        @media only screen and (min-width: 400px) and (max-width: 415px) {
            width: 95.2% !important;
        }
           
    }
    .mz-find-store-location-data{
        @media @desktopScreens {
            max-height: 650px;
            overflow-y: auto;
        }
    }

    .store-data {
        padding: 0 26px 0 0;

        @media @mobileScreens {
            padding: 0 16px 0 0;
        }

        .find-store-data {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #CCCCCC;
            width: 96.8%;
            padding-bottom: 16px;
            padding-top: 15px;
            color: #000000;
            font-family: "MSLondon";
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 28px;
            // margin-right: auto;
            @media @mobileScreens {
                width: 94.2%; // fixed ui issue
            }

            .mz-message-instock {
                color: #1E5A7A;
                font-family: "MSLondon";
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 28px;
            }

            .mz-message-outofstock {
                color: #A6192E;
                font-family: "MSLondon";
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 28px;
            }
        }
    }
}

.pdp-find-in-store-container.deactive {
    display: none;
}

.pdp-find-in-store-container.active {
    display: block;
}