.mz-addresssummary {
    span {
        display: block;
    }
}
.mz-formstep-edit-summary-address {
    top: 33px;
    position: absolute;
    right: 36px !important;
    margin-bottom: 33px;
    @media only screen and (max-width:700px) {
      top: 19px;
      right: 18px !important;
    }
  }
  .mz-formstep-edit-address{
    position: absolute;
    right: 220px;
    top: 80px;
    @media only screen and (min-width:390px) and (max-width:700px) {
      top: 8.4em;
    }
    @media only screen and (min-width:390px) and (max-width:410px) {
        right: 19.6em;
    }
    @media only screen and (min-width:411px) and (max-width:479px) {
        right: 21.2em;
    }
    @media only screen and (min-width:480px) and (max-width:535px) {
      right: 25em;
    }
    @media only screen and (min-width:701px) and (max-width:799px) {
      right: 12.4em;
      top:6em;
    }
    @media only screen and (min-width:1137px) and (max-width:1139px) {
      right: 81px;
    }
  }