#confirmation-modal {

	.vertical-alignment-helper{
		display: table;
		height: 100%;
		width: 100%;
		pointer-events: none;
	}

	.vertical-align-center{
		display: table-cell;
		vertical-align: middle;
		pointer-events: none;
	}

	.modal-content{
		max-width:800px;
    	height:inherit;
    	margin: 0 auto;
    	pointer-events: all;
		@media (max-width: 768px) {
			margin-left: 8px;
			margin-right: 8px;
		}		
	}
	.modal-header {
		padding: 33px 16px 33px 32px;
		@media @mobileScreens {
			padding: 24px 16px 24px 8px;
		}
	}
	.modal-dialog{
		@media @mobileScreens{
			min-width: 300px;
		}
	}
	.modal-footer {
		padding: 32px;
		@media @mobileScreens {
			padding: 16px 8px;
		}
	}
	.modal-header, .modal-footer{
		border: none;
	}
	.modal-body{
		background-color: @savedpriamry;
		padding: 16px 32px;
		@media @mobileScreens {
			padding: 16px 8px;
		}
	}
	// .product-confirmation-product-info{
	// 	margin: auto 5px;
	// }
	.product-confirmation-message{
		display: flex;
		align-items: center;

		@media @mobileScreens{
			font-size: @fontSize;
			align-items: flex-start;
		}
		strong{
			font-size: @fontSizeLarge;
		}
		.affirmation-message{
			font-weight: bold;
			.add-to-bag{
				font-size: @fontSizeLarger;				
			}
		}
		.affirmation-message {
			margin-left: 10px;
			@media @mobileScreens {
				display: flex;
				flex-direction: column;
			}
		}
		span{
			flex:1;
			margin-left: 5px;
			@media @mobileScreens {
				margin-left: 0;
			}
		}
		.confirmation-tick, .close-modal{
			width: 25px;
			height: auto;
			// margin-left: 10px;
		}
		.close-modal{
			width: 20px;
			cursor: pointer;
		}
	}
	.product-confirmation-modal-container {
		display: flex;
		margin: 0 10px 0 0;
		font-size: @fontSizeLarge;
		align-items: center;
		h4{
			margin: 0 0 10px 0;
		}
		img, 
		.item-noImg{
			max-width: 90px;
			height: auto;
			margin-right: 32px;
			object-fit: contain;
			@media @mobileScreens {
				margin-right: 16px;
			}
		}
		.item-noImg {
			height:117px;
			width: 90px;
			background-color: @sliderProgress;
			display: flex;
			justify-content: center;
			font-size: @fontSize;
			color: #aaaaaa;
			align-items: center;
		}
		.product-confirmation-product-info {
			@media @mobileScreens {
				flex: 1;
				word-break: break-all;
			}
			.product-details {
				.mz-strikethrough {
					margin-left: 10px;
				}
				.confirmation-box-product-options {
					margin-left:10px;
					@media @mobileScreens {
						margin-left: 0;
					}
				}
			}
		}
		.product-details{
			display: flex;
			font-weight: 600;
			margin: 0;
			@media @mobileScreens{
				flex-direction: column;
				font-size: 16px !important;
			}
			.sale-price{
				color: @saleColor;
			}
		}
	}
	.product-confirmation-button-container {
		display: flex;
		grid-template-columns: auto auto;
		//grid-gap: 16px;
		// margin: 15px 0;
		
		@media @mobileScreens{
			flex-direction: column;
			grid-template-columns: auto;
		//	grid-gap: 10px;
		}
		button {
			flex: 1;
			font-weight: bold;
			// margin: 0 10px;
			padding: 15px 0;
			color: @blackColor;
			@media @mobileScreens{
				// margin: 5px 0;
				padding: 15px 0;
			}
		}

		button:hover {
			background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0)
		}

		.continue-shopping {
			border: 1px solid @black;
			font-size: @fontSizeLarger;
			background-color: @white;			
		}
		.go-to-checkout {
			border: none;
			background-color: @ctaBtnColor;
			font-size: @fontSizeLarger;
			margin-left:10px;
			@media @mobileScreens{
				margin-top:10px;
				margin-left:0px;
			}
		}
	}
}