@import "/stylesheets/arabic/modules/common/ar-button.less";
@keyframes loadingthrob {
    from { background-color: #eee; }
     to { background-color: #E3E3E3; }
}
@-webkit-keyframes loadingthrob {
    from { background-color: #eee; }
     to { background-color: #E3E3E3; }
}
.mz-creditcard-cancel {
    .border-radius(4px);
    background-color: #eee;
    background-image: url('../resources/images/button-loading.gif');
    background-repeat: no-repeat;
    background-position: -9999px -9999px;
    padding: @gutter/4 @gutter/2;
    min-width: 64px;
    &:hover {
        background-color: #E3E3E3;
    }
    &:active {
        .box-shadow(~"inset 0 0 4px #999)");
        .box-shadow(~"inset 0 0 4px rgba(0,0,0,0.3)");
    }
    &[disabled], &[disabled]:active {
        background-color: #eee;
        border-color: #eee;
        .box-shadow(none);
    }
}
.mz-contact-cancel {
    background-color: #D7D7D7;
    border-color: #ccc;
    height: 30px;
    width: 83px;
    padding-top:5px;
    font-weight: bold;
    background-image: url('../resources/images/button-loading.gif');
    background-repeat: no-repeat;
    background-position: -9999px -9999px;
    padding: @gutter/4 @gutter/2;
    min-width: 64px;
    margin-right: 10px;
    &:hover {
        background-color: #E3E3E3;
    }
    &:active {
        .box-shadow(~"inset 0 0 4px #999)");
        .box-shadow(~"inset 0 0 4px rgba(0,0,0,0.3)");
    }
    &[disabled], &[disabled]:active {
        background-color: #eee !important;
        border-color: #eee !important;
        .box-shadow(none);
    }
}
.mz-button {
    .border-radius(4px);
    background-color: #eee;
    background-image: url('../resources/images/button-loading.gif');
    background-repeat: no-repeat;
    background-position: -9999px -9999px;
    padding: @gutter/4 @gutter/2;
    min-width: 64px;
    &:hover {
        background-color: #E3E3E3;
    }
    &:active {
        .box-shadow(~"inset 0 0 4px #999)");
        .box-shadow(~"inset 0 0 4px rgba(0,0,0,0.3)");
    }
    &[disabled], &[disabled]:active {
        background-color: #eee !important;
        border-color: #eee !important;
        .box-shadow(none);
    }
}
.mz-button-large {
    font-size: @fontSizeLarge;
    padding: @gutter/2 @gutter;
}
.mz-button-small {
    font-size: @fontSizeSmall;
    padding: @gutter/5 @gutter/4;
    min-width: 40px;
    background-image: url('../resources/images/button-loading-small.gif');
}
.is-loading .mz-button, .mz-button.is-loading {
    background-position: 50% 50%;
    border-color: #eee;
    color: transparent;
    animation: loadingthrob 1s linear 0s alternate infinite;
    -webkit-animation: loadingthrob 1s linear 0s alternate infinite;
}
// Custom Button Widget Styles
.cta-container{
    position: relative;
    text-decoration: none;
    font-size: @fontSizeLarger;
    font-family: @fontFamily;
    font-weight: 700;
    display: flex;
    align-items: center;
    a, a:hover{
        color: @black;
    }
    @media @mobileScreens{
    text-align: center;
    }
    @media @desktopScreens{
        text-align: left;
    }
    i{
        margin-right: 20px;
        img{
            width: 18px;
            height: 18px;
            transform: rotate(180deg);
        }
    }
    &.primary{
        border: 1px solid @black;
        justify-content: space-between;
        padding: 15px 20px;
    }
    &.secondary{
        justify-content: flex-start;
        padding: 15px 0px;
    }
}