.mz-utilitynav {
    .mz-signin-popover {
        .mz-nona-order-history-link-container,
        .mz-nona-loyalty-container,
        .mz-nona-payment-link-container,
        .mz-nona-account-settings-link-container,
        .mz-nona-return-information-link-container,
        .mz-nona-help-link-container,
        .mz-nona-signout-link-container {
            border-bottom: 1px solid #ccc;
        }
        .mz-order-history-link,
        .mz-payment-section-link,
        .mz-blueloyality-link,
        .mz-account-page-link,
        .mz-return-information-link,
        .mz-help-section-link,
        .mz-signout {
            padding-bottom: 17.65px;
            padding-top: 17.55px;
            padding-left: 18px;
            display: inline-block;
            > a {
                color: #000000;
                font-family: "MSLondon";
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 28px;
                text-decoration: none; 
            }
        }
        .mz-signout {
            border-bottom: none;
            padding-bottom: 30px;
        }
        #mz-logged-in-notice {
            color: #000000;
            font-family: "MSLondon";
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 32px;
            padding-top: 26px;
        }

        .mz-sinin-icon,
        .mz-creataccount-icon,
        .mz-return-icon,
        .mz-order-history-icon,
        .mz-help-icon,
        .mz-sigout-icon,
        .mz-loyalty-icon,
        .mz-creditcard-icon {
            width: 29px;
            height: 29px;
        }
    }
}