

.mz-signup-footer {
    .return-arrow{
        height: 15px;
        width: 15px;
        object-fit: cover;
        transform: rotate(180deg);
            
    }
    .mz-signup-query{
            margin-top:20px;
            height: 21px;
            color: #000;
            font-family: @fontFamily;
            font-size: @fontSizeLarger;
            letter-spacing: 0;
            line-height: 21px;
            font-weight: 600;
    }
    .mz-footer-link{
            font-weight: bold;
            text-decoration: none;
    }
    .mz-privacy-policy{
            margin-top:34px;
            color: #333333;
            font-family: @fontFamily;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 21px;
            margin-bottom:91px;

            @media @mobileScreens{
              margin-bottom:30px;
            }
          
    }
}
