body.mz-checkout {
    .mz-pickupLocationContainer {
        padding:35px 0px;
        margin-right: 25px;
        display: flex;
        justify-content: flex-start;
        .mz-locationIconContainer {
            @media @mobileScreens {
                display: none;
            }
        }
        .mz-pickupLocationName {
            color: @lightBlack;
            font-family: "MSLondon";
            font-size: @fontSizeLarger;
            font-weight: @fontBold;
            letter-spacing: 0;
            line-height: 28px;
        }
        .mz-pickupAddressContainer {
            margin-right: 20px;
            .mz-addressContainer {
                .mz-pickupLocationAddress {
                display: inline-block;
                    color: @lightBlack;
                    font-family: "MSLondon";
                    font-size: @fontSize;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 28px;
                
                }
            }
            @media @mobileScreens {
                margin-right: 8px;
            }
        }
        @media only screen and (max-width:700px) {
            padding: 15px 0px;
            margin-right: 2px;
        }
    }
    
}