@media only screen and (min-width:390px) and (max-width:410px) {
    .guest-checkout-main-container {
        margin-right: -0.5em;
        .text-input {
            width: 87%;
            padding-right: 14px;
            margin-top: 1em;
        }
    }
}
@media only screen and (min-width:411px) and (max-width:500px) {
    .guest-checkout-main-container {
        .text-input {
            width: 92%;
            padding-right: 14px;
            margin-top: 1em;
        }
        .mz-login-page-button {
            width: 101.1%;
        }
    }
}