.mz-carttable-item-v2 {
    display: block;
    &:last-child {
        .mz-carttable-item-product {
            @media @mobileScreens {
                padding-bottom: 0;
            }
        }
    }
    .mz-carttable-item-product {
        display: flex;
        width: 100%;
        border-top: 1px solid @lightWhite;
        padding: 24px 0;
        @media @mobileScreens {
            position: relative;
            min-height: 135px;
            padding: 22px 0;
        }
        .mz-item-image {
            width: 130px;
            @media @mobileScreens {
                width: 80px;
            }
            .mz-noImg-section {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 167px;
                width: 130px;
                background: #eee;
                text-align: center;
                color: #aaa;
                @media @mobileScreens {
                    width: 80px;
                    height: 103px;
                    object-fit: cover;
                }
            }
        }
        .mz-oos-error-msg {
            display: none!important;
            height: 40px;
            white-space: nowrap;
            font-size: @fontSizeLarger;
            font-weight: @fontBold;
            letter-spacing: 0;
            line-height: 16px;
            color: #EA122A;
            display: flex;
            align-items: center;
            width: 100%;
            margin-top: -20px;
            .mz-error-cart-icon {
                width: 16px;
                height: 16px;
                margin-left: 8px;
            }
            .help-icon-bogo {
                height: 16px;
                svg {
                    width: 16px;
                    height: 16px;
                    margin-left: 8px;
                }
            }
        }
        &.mz-oos-product-disable {
            .mz-item-link,
            .pr-details-first,
            .mz-item-details-second,
            .mz-collect-pickupAt {
                opacity: .4;
            }
            .mz-carttable-item-qty {
                pointer-events: none;
            }
        }
        &.mz-oos-product-disable,
        &.mz-carttable-item-product-discount,
        &.mz-limited-stock-product {
            min-height: 155px;
        }
    }

    .mz-item-item-details {
        flex: 1;
        padding-right: 20px;
        @media @mobileScreens {
            padding-right: 11px;
        }
    }

    .mz-item-image {
        // width: 150px;
        @media @mobileScreens {
            height: 103px;
        }
    }

    .mz-item-brand {
        font-size: @fontSize;
        font-weight: @fontBold;
        letter-spacing: 0;
        line-height: 22px;
        text-transform: uppercase;
        // @media @mobileScreens {
        //     display: none;
        // }
    }

    .mz-item-details-row.pr-details-first {
        display: flex;
        @media @mobileScreens {
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            min-height: 94px;
            // min-height: 63px;
        }
    }

    .mz-carttable-item-heading {
        flex: 1; 
        @media @mobileScreens {
            order: 1;
            max-width: 180px;
        }
        .mz-cartItemOptions-mob {
            display: none;
            @media @mobileScreens {
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 16px;
                color: @black;
                display: block;
                margin: 0;
                width: 100%;
            }
            .mz-property-value {
                @media @mobileScreens {
                    margin: 0 4px 0 0;
                    float: right;
                    clear: left;
                }
                // &:not(:last-child) {
                //     &::after {
                //         content: ',';
                //         position: relative;
                //         left: -5px;
                //         @media @mobileScreens {
                //             left: -4px;
                //         }
                //     }
                // }
            }
        }
    }

    .mz-carttable-item-qty {
        padding: 0 20px;
        position: relative;  
        height: 47px;  
        margin-top: -9px;
        width: 70px;    
        @media @mobileScreens {
            padding: 0;
            // order: 2;
            order: 5;
        }
        .mz-down-cart-icon {
            position: absolute;
            width: 15px;
            height: 8px;
            right: 56%;
            top: 44%; 
            display: inline-block;
            pointer-events: none;            
        }
        .mz-carttable-qty-field {
            outline: none;
            background-color: @white!important;
            color: @black;
        }
        &.mz-limited-stock-qty {
            &::before {
                content: '';
                width: 40px;
                height: 40px;
                clip-path: polygon(0% 0, 50% 0%, 47% 50%);
                position: absolute;
                background-color: @lightWhite;
                right:0;
                @media @mobileScreens {
                    right: -20px;
                }
            }
        }

        &.mz-limited-stock-qty_discount {
            &::before {
                content: '';
                width: 40px;
                height: 40px;
                clip-path: polygon(0% 0, 0% 0%, 0% 0%);
                position: absolute;
                background-color: @lightWhite;
                right:0;
                @media @mobileScreens {
                    right: -20px;
                }
            }
        }
    }

    .carttable-item-product-info{
        .mz-carttable-item-qty {
            margin-top: -11px;
        }
        .mz-oos-error-msg{
            font-size: 15px;
        }
                        
    }

    .mz-item-details-third {
        display: flex;
        font-size: @fontSizeLarger;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 22px;
        justify-content: flex-end;
        @media @mobileScreens {
            margin-top: 10px;
        }
        .mz-collect-pickupAt {
            flex: 1;
            .mz-current-pickup-location{
                font-weight: bold;
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .mz-carttable-savelater-remove {
            @media @mobileScreens {
                position: absolute;
                // left: 3%;
                right: 0;
                margin-top: 10px;
                top: 125px; 
            }
            &.mz-saveRemove-set {
                @media @mobileScreens {
                    top: 144px;
                    margin-top: 25px;
                }
            }
            &.mz-bogo-saveRemove-set {
                @media @mobileScreens {
                    top: 142px;
                }
            }
        }
        .mz-carttable-removeItem {
            padding-right: 15px;
            font-size: @fontSize;
            @media @mobileScreens {
                position: relative;
                position: absolute;
                right: 36px;
                top: 75%;
                // padding-left: 0;
            }
            .mz-remove-cart-icon {
                @media @mobileScreens {
                    width: 21px;
                    height: 18px;
                }
            }
            &::before {
                @media @mobileScreens {
                    content: '';
                    border-left: 1px solid @lightWhite;
                    position: absolute;
                    right: 4px;
                    top: 2px;
                    height: 20px;
                }
            }
            .mz-icon {
                text-indent: inherit;
                color: @lightBlack;
            }
            .mz-cart-remove {
                text-decoration: underline;
                padding-right: 5px;
                @media @mobileScreens {
                    display: none;
                }
            }
        }
        .mz-carttable-save-later {
            font-size: @fontSize;
            @media @mobileScreens {
                position: absolute;
                right: 7px;
                top: 75%; 
            }
            .mz-heart-cart-icon {
                @media @mobileScreens {
                    height: 20px;
                    padding-top: 4px;
                }
            }
            .mz-save-later {
                text-decoration: underline;
                padding-right: 5px;
                color: @lightBlack;
                @media @mobileScreens {
                    display: none;
                }
            }
        }

        .cart-savelater-icon {
            .mz-heart-cart-icon {
                @media @mobileScreens {
                    height: 20px; 
                    padding-top: 0px;
                    vertical-align: bottom; 
                }
            } 
            &.mz-saveRemove-set {
                @media @mobileScreens {
                    top: 144px;
                }
            }
                    
        }
    }

    .mz-carttable-item-product-discount {
        .mz-carttable-item-price {
            .is-crossedout,
            .is-saleprice {
                @media @mobileScreens {
                    position: static;
                }
            }
        }
        .mz-carttable-item-qty {
            @media @mobileScreens {
                display: none;
            }
        }
    }

    .mz-carttable-item-price {
        display: flex;
        flex-direction: column;
        font-size: @fontSizeLarger;
        font-weight: @fontBold;
        color: @lightBlack;
        font-family: 'MSLondon';
        @media @mobileScreens {
            font-size: @fontSizeLarger;
            line-height: 21px;
            order: 4;
            // margin-top: 12px;
            font-weight: @fontBold;
            // height: 42px;
            margin-right: auto;
        }
        .mz-item-price {
            @media @mobileScreens {
                position: absolute;
                left: 0;
                top: 82px;
            }
        }
        .is-saleprice {
            order: 1;
            font-weight: @fontBold;
            color: #C4201D;
            @media @mobileScreens {
                font-weight: @fontBold;
                position: absolute;
                right: 0;
                top: 66px;
            }
        }
        .is-crossedout {
            order: 2;
            font-weight: @fontBold;        
            @media @mobileScreens {
                position: absolute;
                right: 0;
                top: 85px;
            }
        }
    }

    .mz-carttable-item-total-price {
        font-size: @fontSizeLarger;
        display: flex;
        flex-flow: column;
        width: 22%;
        text-align: left;
        @media (min-width: 992px) and (max-width: 1025px) {
            width: auto;
        }
        @media @mobileScreens {
            display: none;
        }
        .mz-item-rowtotal {
            color: @black;
            font-weight: @fontBold;            
            order: 1;
        }
        .mz-item-discount {
            flex-direction: column;
            font-size: @fontSizeSmall;            
            order: 2;
        }
        .is-crossedout {
            display: none;
        }
    }

    .mz-item-details-second {
        font-size: @fontSizeLarger;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 22px;
        width: 45%;
        @media @tabletAndDesktopScreens {
            display: block;
        }
        .mz-bundledProduct-content {
            .mz-bundleProduct-name {
                margin-left: 0;
            }
        }
        @media @mobileScreens {
            display: none;
        }
        &.mz-item-mobile {
            @media @tabletAndDesktopScreens {
                display: none;
            }
            @media @mobileScreens {
                font-size: @fontSizeSmall;
                width: 60%;
                line-height: 16px;
                order: 3;
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                display: none;
            }
            .mz-propertylist {
                margin: 0;
            }
        }
        .mz-property-value {
            @media @mobileScreens {
                margin-left: 0;
                margin-right: 1px;
            }  
            margin-left: 0;
            margin: 0 4px 0 0;   
            float: right;
            clear: left;   
            &:first-child {
                margin-left: 0;
            }
            // &:not(:last-child) {
            //     &::after {
            //         content: ',';
            //         position: relative;
            //         left: -5px; 
            //         @media @mobileScreens {
            //             left: -4px;
            //         }                    
            //     }
            // }
            @media @desktopMediumScreen {
                margin-right: 5px;
                margin-left: 0;
            }            
        }
        
    }
}