.mz-hamburgmenu-container {
    order: 1;
    .mz-hamburgmenu-icon {
        width: 30px;
        height: 30px;
    }
    @media @tabletAndMobileScreens{
        .mz-searchbox-icon{
            position: relative;
            // visibility: hidden;
            img {                
                position: absolute;
                width: 25px;
                height: 25px;
                top: 2px;
            }
        }
        .safari-search-icon{
            display:none;
        }
    }
    @media only screen and (max-width:500px) {
        position: relative;
    }
    @media only screen and (min-width:992px) {
        display: none !important;
    }
}

@media screen and (max-width: 1023px) {
    .mz-searchbox-icon.safari-search-icon.desktop {
        display: none;
    }
}

@media screen and (min-width: 1023px) {
    .mz-searchbox-icon.mobile {
        display: none;
    }
}

.mz-hamburgmenu-option-container {    
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9;
    background-color: @white;
    display: none;
    // max-height:102vH;
    overflow: hidden scroll;
    overscroll-behavior: contain;
    .mz-menu-header {
        border-bottom: 1px solid @black;
    }
    .mz-menu-header.deactive {
        display: none;
    }
    .mz-menu-footer {
        margin-top: 25px;
        @media(max-width:768px){
            margin-top: 0px;
        }
        .mz-account-section {
            .mz-anonymous-order-track-container {
                padding-bottom: 15px;
            }
            .mz-signin-link,
            .mz-signup-link,
            .mz-order-track,
            .mz-signin-link,
            .mz-signout {
                padding-top: 17.55px;
                display: inline-block;
                > a {
                    color: @black;
                    font-family: "MSLondon";
                    font-size: @fontSize;
                    font-weight: 600;
                    letter-spacing: 0;
                    text-decoration: none;
                }
            }
        }
        .mz-account-section.active {
            display: block;
        }
        .mz-account-section.deactive {
            display: none;
        }
        .mz-menu-footer-country-selector {
            .mz-country-selector-name {
                color:@black;
                font-family: "MSLondon";
                letter-spacing: 0;
            }
        }
        .mz-menu-footer-country-selector.active {
            display: flex;
        }
        .mz-menu-footer-country-selector.deactive {
            display: none;
        }
        .mz-menu-country-dropdown-selector {
            margin-top: 20px;
            .label-for-country {
                color: #333333;
                font-family: "MSLondon";
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 28px;
            }
            .country-selector-country-data-container {
                margin-top: 5px;
                .mz-country-selector-icon {
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    margin-left: 16px;
                }
                .country-data-field {
                    width: 100%;
                    height: 40px;
                    border: 1px solid #CCCCCC;
                    appearance: none;
                    background-image: url(../resources/images/icons/svg/downArrow.svg);
                    background-size: 15px;
                    background-repeat: no-repeat;
                    background-position-x: 236px;
                    background-position-y: center;
                    padding-left: 50px;
                    font-size: 14px;
                    font-weight: 600; 
                    background-color: white;
                    color: @black;
                }
                select.country-data-field:focus {
                    outline: none;
                    box-shadow: none;
                }
                select,option {
                    width: 287px;
                }
            }
            .label-for-language {
                color: #333333;
                font-family: "MSLondon";
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 28px;
                margin-top: 5px;
            }
            .country-selector-language-data-container {
                margin-top: 5px;
                .language-data-field {
                    width: 100%;
                    height: 40px;
                    border: 1px solid #CCCCCC;
                    appearance: none;
                    background-image: url(../resources/images/icons/svg/downArrow.svg);
                    background-size: 15px;
                    background-repeat: no-repeat;
                    background-position-x: 236px;
                    background-position-y: center;
                    padding-left: 16px;
                    font-size: 14px;
                    font-weight: 600;
                    background-color: white;
                    color: @black;
                }
                select.language-data-field:focus {
                    outline: none;
                    box-shadow: none;
                }
                select,option {
                    width: 287px;
                }
            }
            .country-selector-button-container {
                margin-top: 15px;
                .button-go-to-site {
                    background-color: #BED855;
                    color: #333333;
                    font-family: "MSLondon";
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 23px;
                    padding-right: 40px;
                    &:after {
                        background: url('@{iconsPath}/Arrow.svg') no-repeat;
                        content: '';
                        display: inline-block;
                        position: absolute;
                    }
                }
            }
        }
        .mz-menu-country-dropdown-selector.is-active {
            display: block;
        }
        .mz-menu-country-dropdown-selector.deactive {
            display: none;
        }
    }
    .mz-menu-footer + .mz-seprator.deactive {
        display: none;
    }
    @media only screen and (min-width:1024px)  {
        display: none !important;
    }
    @media only screen and (max-width:380px) {
        max-height: 102vh;
    }
    @media only screen and (min-width:381px) and (max-width:400px) {
        max-height: 83vh;
    }
    @media only screen and (min-width:401px) and (max-width:450px) {
        max-height: 78vh;
    }
    @media only screen and (min-width:451px) and (max-width:500px) {
        max-height: 68vh;
    }
    @media only screen and (min-width:501px) and (max-width:767px) {
        max-height: 98vh;
    }
    @media only screen and (min-width:768px) and (max-width:791px) {
        max-height: 68vh;
    }
    @media only screen and (min-width:792px) and (max-width:810px) {
        max-height: 55vh;
    }
    @media only screen and (min-width:810px) and (max-width:850px) {
        max-height: 59vh;
    }
    @media only screen and (min-width:851px) and (max-width:920px) {
        max-height: 55vh;
    }
}
.mz-hamburgmenu-option-container::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.mz-hamburgmenu-fixed-container {
    display: none;
    .mz-locator-loyality-container {
        display: flex;
        .mz-menu-find-store-container,
        .mz-nona-loyalty-container {
            border: 1px solid @black;
            text-align: center;
        }
        .mz-find-store-link,
        .mz-blueloyality-link {
            display: inline-block;
            > a {
                color: @black;
                font-family: "MSLondon";
                letter-spacing: 0;
                text-decoration: none;
            }
        }
    }
    .mz-help-contact-register-container {
        display: flex;
        flex-wrap: wrap;
        .mz-help-link,
        .mz-contact-link,
        .mz-register-link {
            > a {
                color: @lightBlack;
                font-family: "MSLondon";
                font-weight: 600;
                letter-spacing: 0;
                text-decoration: none;
            }
        }
        .mz-seprator {
            color: @lightBlack;
            font-family: "MSLondon";
            font-weight: 600;
            letter-spacing: 0;
        }
    }
}
.mz-hamburgmenu-fixed-container.active {
    display: block;
}
.mz-hamburgmenu-fixed-container.deactive {
    display: none;
}
.mz-hamburgmenu-fixed-container.iphone13andpro {
    margin-bottom: 80px;
}

//Issue fixes for mobile hamburger menu
@media(max-width:768px){  
    body  .mz-hamburgmenu-option-container .mz-menu-footer .mz-account-section .mz-signin-link,
    body  .mz-hamburgmenu-option-container .mz-menu-footer .mz-account-section .mz-signout,
    body  .mz-hamburgmenu-option-container .mz-menu-footer .mz-account-section .mz-signup-link,
    body  .mz-hamburgmenu-option-container .mz-menu-footer .mz-account-section .mz-order-track
    {
        padding-top:0px;
    }
    body  .mz-hamburgmenu-option-container .mz-menu-footer .mz-account-section .mz-signout{
        padding-left: 7px;
    }
    .mz-hamburgmenu-option-container .mz-menu-footer .mz-account-section.active >div:last-child{
        padding-bottom: 0px !important;
    }
    // .mz-hamburgmenu-option-container {
    //     max-height: 100vh  !important;
    //     height: 100vh !important;
    // }
    .mz-hamburgmenu-fixed-container.active {
        display: block;
    }
    .mz-hamburgmenu-fixed-container .mz-locator-loyality-container{
        background-color: @white;
    }
}

//New Design UI
.afg-ms-hamburgmenu-option-container {
    width: 307px;
    padding-bottom: 0;
    top: 0!important; 
    bottom: 0;
    position: fixed;
    max-height: 100vh;
    // height: 100vh;
    // max-height: 100vh;
    // &.afg-iphone-device {        
    //     height: 90vh!important;
    //     .afg-humburgmenu-content {            
    //         height: 81vh;            
    //     }
    // }
    .mz-menu-header {
        &.active {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 20px;
            border-top: 0.1px solid @black; 
        }
        .mz-menu-site-logo {
            img {
                width: 52.5px!important;
                height: 30px!important;
                object-fit: contain;
            }
        }
        .mz-menu-close-icon {
            img {
                width: 21px;
                height: 21px;
            }
        }
    }
    .mz-mobile-site-nav {
        .mz-sitenav-item-mobile {
            &.active {
                padding: 18px 0 17.5px;
                margin: 0 20px;            
            }
            &.no-border {
                padding-top: 0;
                .mz-sitenav-item-inner-mobile-header {
                    &.active-header {
                        justify-content: flex-start;  
                        background-color: @black;
                        padding: 19px 20px;
                        margin-left: -20px;
                        margin-right: -20px; 
                        .mz-parent-category-left-arrow {
                            &.active {
                                width: 16px;
                                height: 16px;
                                filter: invert(1);
                            }
                        }
                    }
                }
                .mz-sitenav-link-mobile {
                    &.align-center {                        
                        line-height: 15px;  
                        color: @white;
                        width: 100%;
                        text-align: center;
                        padding-right: 10px;     
                    }
                }
                .mz-sitenav-sub-container-mobile {
                    &.active {
                        .second-level-item-mobile {
                            padding: 17.5px 0;
                            &.afg-active {
                                background: #f5f5f5;
                                margin-left: -20px;
                                margin-right: -20px;
                                padding: 17.5px 20px!important;
                                margin-top:-2px;
                                border: none;
                            }
                            .mz-sitenav-sub-sub-item {
                                padding: 8px 0;
                                &:last-child {
                                    padding-bottom: 0;
                                }
                                .mz-sitenav-sub-sub-item-link {
                                    &.mz-view-category {
                                        color: @black;
                                        img {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        .mz-placeholder-sitenav-link-mobile {
                            line-height: 15px;
                            font-size: 14px;
                            text-transform: capitalize;
                        }
                        .no-child-item {
                            padding: 17.5px 0;
                            font-weight: bold;
                            border-bottom: 1px solid #ccc;
                        }
                    }
                } 
            }
        }
        .mz-sitenav-link-mobile {
            font-size: 14px;
            font-weight: @fontBold;
            letter-spacing: 0;
            line-height: 18px;
        }
        .mz-sitenav-item-inner-mobile-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .mz-parent-category-right-arrow {
            &.active {
                width: 16px;
                height: 16px;  
            }
        }        
    }
    .mz-menu-footer {
        .mz-account-section {
            &.active {
                padding: 20px;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                img {
                    width: 20px;
                    height: 20px;
                }
                .mz-signin-link,
                .mz-order-track {
                    padding-left: 7px;
                }
                .wishlist-popup-mob {
                    padding-bottom: 20px;
                }
                .mz-order-track,
                .mz-signin-link {
                    > a {
                        line-height: 20px;
                    }
                }
                .mz-anonymous-signup-container {
                    display: none;
                }                
            }
        }
        .mz-menu-footer-country-selector {
            &.active {
                padding: 20px 20px 0;
                justify-content: space-between;
                .mz-country-selector-icon-container {
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
                .mz-country-selector-name {
                    padding-left: 10px;
                    font-size: 14px;
                    font-weight: @fontBold;
                    letter-spacing: 0;
                    line-height: 18px;
                }
                .afg-ms-menu-footer-country-selector {
                    display: flex;
                    align-items: center;
                }
                .mz-country-selector-expand-container {
                    .mz-l-two-arrow-expand {
                        width: 16px;
                        height: 16px;
                    }
                }  
                &.is-open {
                    .mz-l-two-arrow-expand {
                        transform: rotate(-90deg);
                    }
                }              
            }
        }
    }
    .mz-menu-country-dropdown-selector {
        margin-right: 20px;
        margin-left: 20px;
        .button-go-to-site {
            height: 40px;
            width: 100%;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            &::after {
                right: 100px;
                width: 20px;
                height: 20px;
                background-size: 100%!important;
            }   
        }
        .mz-country-selector-icon {
            margin-top: 11px;
        }
    }
    .mz-locator-loyality-container {
        margin-top: 20px;
        padding-bottom: 36px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between; 
        column-gap: 7px;
        .mz-menu-find-store-container,
        .mz-nona-loyalty-container {
            width: 100%;
            padding: 9px 0;
        }
        img {
            width: 20px;
            height: 20px;
        }
        a {
            font-size: 12px;
            font-weight: 600;            
            line-height: 16px;
        }
    }
    .mz-help-contact-register-container {
        border: 1px solid #F3F3F3;
        background-color: #F5F5F5;
        padding: 9px 0;
        justify-content: center;
        align-items: center;
        a {
            font-size: 12px;
            line-height: 16px;
        }
        .mz-seprator {
            font-size: 13px;
            line-height: normal;
            padding: 0 10px;
        }
    }
    .mz-hamburgmenu-fixed-container {
        &.iphone13andpro {
            margin-bottom: 0;
        }
    }
    .afg-humburgmenu-content {
        .mz-mobile-site-nav {
            .mz-sitenav-item-mobile {
                &.no-border {
                    padding-bottom: 0;
                }
            }
        }
    }
}