


@font-face {
    font-family: 'Helvetica Neue LT Arabic';
    font-weight: 300;
    font-style: normal;
    src: url('../resources/fonts/HelveticaNeueLTArabic-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'Helvetica Neue LT Arabic';
    font-weight: 700;
    font-style: normal;
    src: url('../resources/fonts/HelveticaNeueLTArabic-Bold.ttf') format('truetype')
}