
// 300, 400, 600, 700

@font-face {
    font-family: 'MSLeeds';
    font-weight: 300;
    font-style: normal;
    src: url('../resources/fonts/MSLeeds-Light.ttf') format('truetype')
}
@font-face {
    font-family: 'MSLeeds';
    font-weight: 300;
    font-style: italic;
    src: url('../resources/fonts/MSLeeds-LightItalic.ttf') format('truetype')
}
@font-face {
    font-family: 'MSLeeds';
    font-weight: 700;
    font-style: normal;
    src: url('../resources/fonts/MSLeeds-Bold.ttf') format('truetype')
}
@font-face {
    font-family: 'MSLeeds';
    font-weight: 700;
    font-style: italic;
    src: url('../resources/fonts/MSLeeds-BoldItalic.ttf') format('truetype')
}
