
// 300, 400, 600, 700

@font-face {
    font-family: 'MSLondon';
    font-weight: 300;
    font-style: normal;
    src: url('../resources/fonts/MSLondon-Light.ttf') format('truetype')
}
@font-face {
    font-family: 'MSLondon';
    font-weight: 300;
    font-style: italic;
    src: url('../resources/fonts/MSLondon-LightItalic.ttf') format('truetype')
}
@font-face {
    font-family: 'MSLondon';
    font-weight: 400;
    font-style: normal;
    src: url('../resources/fonts/MSLondon-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'MSLondon';
    font-weight: 400;
    font-style: italic;
    src: url('../resources/fonts/MSLondon-Italic.ttf') format('truetype')
}
@font-face {
    font-family: 'MSLondon';
    font-weight: 600;
    font-style: normal;
    src: url('../resources/fonts/MSLondon-Semibold.ttf') format('truetype')
}
@font-face {
    font-family: 'MSLondon';
    font-weight: 700;
    font-style: normal;
    src: url('../resources/fonts/MSLondon-Bold.ttf') format('truetype')
}
@font-face {
    font-family: 'MSLondon';
    font-weight: 700;
    font-style: italic;
    src: url('../resources/fonts/MSLondon-BoldItalic.ttf') format('truetype')
}
