.mz-checkout {
    .mz-contactselector-new {
        .mz-l-addressform-container {
            @media only screen and (min-width:390px) and (max-width:767px) {
            margin-left: -1em;
            }
        }
    }
    .address-button.align-useThisAddresButton {
        left : -15px !important;
        top : 2em;
        width:330px;
    }
}