.mz-pagetitle-search-result{
    color: @lightGray2;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    @media @tabletAndMobileScreens {
        font-size: @fontSizeLarge;
    }
    @media @desktopScreens {
        margin-bottom: 35px;
        font-size: @headingFont26;
    }
    span{
        font-weight: 700;
    }
    @media @mobileScreens {
        margin-top: 0;
        font-size: 22px;
    }
}