.mz-signup-header-container{
    margin-bottom:29px;
    margin-top:10px;
    @media @mobileScreens{
        margin-bottom: 0px;
    }
    .mz-pagetitle{
            height: 17px;
            width: 167px;
            color: #000;
            font-family:  @fontFamily;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 17px;
            text-transform: uppercase;
            margin-top:49px;
            margin-bottom: 26px;
            @media @mobileScreens{
                margin-top:10px;
                margin-bottom: 0px !important;
            }
    }
    .mz-signup-info{
            height: 110px;
            width: 323px;
            color: #000;
            font-family:  @fontFamily;
            font-size: 40px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 55px;
          
    }
}
@media @mobileScreens{
    .mz-signup-header-container{
       // margin-bottom:29px;
        .mz-pagetitle{
                height: 17px;
                width: 178px;
                color: #000;
                font-family:  @fontFamily;
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 17px;
                text-transform: uppercase;
              
        }
        .mz-signup-info{
            display: none;
        }
        .mz-signup-sidebar-main-container{
            display:none !important;
        }
    }
    .mz-signup-sidebar-main-container{
        display:none !important;
    }
}

.mz-signuppage .mz-l-pagecontent {

    @media only screen and (min-width:767px) and (max-width:1023px) {
        overflow-x: hidden !important;
    }
    @media only screen and (min-width:360px) and (max-width:380px) {
        overflow-x: hidden !important;
    }
}
