
.sidebar-info-div{
     width:80.13%;
     height: 650px;
     max-width:505px;
     background-color: #035742;
     text-align: center;
    // margin-left:18px; //temp
     margin: 0 23% 0 5%;
     .sidebar-text{
         max-width: 332px;
         display: grid;
         color: #FFF;
         margin: 0 auto;
     }
     .span-text{
             width:100%;
             color: #FFF;
             font-family:  @fontFamily;
             font-size: 24px;
             font-weight: 600;
             letter-spacing: 0;
             line-height: 64px;
     }
     .span-header{
             width:100%;
             color: #FFF;
             font-family:  @fontFamily;
             font-size: 20px;
             font-weight: 600;
             letter-spacing: 0;
             line-height: 64px;
             margin-top: 69px;
             margin-bottom: 22px;
 
     }
 }
 @media only screen and (min-width: 767px) and (max-width: 825px) {
 .sidebar-info-div{
    margin-left: 38px;
    width: 290px;
    .sidebar-text{
        width:274px;
    }
    .span-header{
        font-size: 16px;
    }
  }
 }

 @media only screen and (min-width: 699px) and (max-width: 766px) {
    .sidebar-info-div{
       .span-header{
           font-size: 16px;
       }
     }
    }